<br><br>
<mat-card class="example-card">
  <mat-card-header><br><br>
        <mat-card-subtitle><h2>Login </h2></mat-card-subtitle><br><br>
  </mat-card-header>
  <form class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field><br>
      <button mat-raised-button color="primary" [disabled]="email.invalid" (click)="login()">Login</button>
  </form><br><br><br>
</mat-card>