
<mat-card class="example-card">
  <mat-card-content>
    <p>
      Home Component
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>retry</button>
    <button mat-button>back</button>
  </mat-card-actions>
</mat-card>

<div class="mdl-grid">
  <mat-card class="mdl-cell graybox mdl-cell--4-col example-card">
    <mat-card-content>
      <p>
        Home Component
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>retry</button>
      <button mat-button>back</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mdl-cell graybox mdl-cell--4-col example-card">
    <mat-card-content>
      <p>
        Home Component
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>retry</button>
      <button mat-button>back</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mdl-cell graybox mdl-cell--4-col example-card">
    <mat-card-content>
      <p>
        Home Component
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>retry</button>
      <button mat-button>back</button>
    </mat-card-actions>
  </mat-card>
</div>    